.ball { 
    width: 50px; 
    height: 50px; 
    background: dodgerblue; 
    border-radius: 50%; 
    position: relative; 
    animation: bounce 1s ease-in-out infinite; 
  } 
 
  @keyframes bounce { 
    0%, 100% { top: 0; } 
    50% { top: 150px; } 
  } 

